/* *{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body{
  width:100vw;
  height:100vh;
}
.mainCont{
  height:100vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: flex-end;
}
.contForButton{
  height:auto;
  width:auto;
  gap:4px;
  background-color: beige;
  margin-bottom:20px;
  position:fixed;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px 7px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px ;
}
.button{
  display: inline-block;
  height:50%;
  color:black;
  outline: none;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px ;

  
}
.redButton{
  background-color: red;
}
.greenButton{
  background-color: green;
}
.whiteButton{
  background-color: white;

}
.pinkButton{
  background-color: pink;

}
.beigeButton{
  background-color: beige;

}
.skyBlueButton{
  background-color: skyblue;

} */
